* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: hsl(0, 0%, 95%);
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
  }
  
  /* ====== NAVBAR  ========= */
  nav {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    max-width: 300px;
  }
  .fa-magnifying-glass {
    position: absolute;
    top: 24%;
    left: 87%;
    font-size: 12px;
    color: hsl(0, 0%, 60%);
  }
  
  .cart-number-container {
    position: absolute;
    top: -13px;
    left: 70%;
    background-color: hsla(227, 100%, 70%, 0.799);
    color: #fff;
    font-size: 10px;
    padding: 3px;
    border-radius: 6px;
  }
  
  #search-input {
    border: 1px solid hsl(0, 0%, 60%);
    width: 100%;
    height: 28px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  #search-input::placeholder {
    color: hsl(0, 0%, 60%);
  }
  .select-container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
  }
  
  #filter-btn {
    height: 28px;
    font-size: 12px;
    color: hsl(0, 0%, 60%);
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 5px;
  }
  
  .cart-container {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .fa-cart-shopping {
    color: hsl(0, 0%, 60%);
  }
  
  .scrolled {
    background-color: hsl(0, 0%, 90%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  /* ====== END OF NAVBAR ========== */
  /* ====== START OF PRODUCT LIST ======= */
  
  #list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .card {
    height: 240px;
    padding: 10px;
    background-color: #fff;
    width: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
  }
  
  img {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .img-content {
    flex: 1;
  }
  .card-price {
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 66%;
    background-color: hsla(227, 100%, 70%, 0.799);
    color: hsl(0, 0%, 10%);
    width: 50px;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
  }
  
  .card-title {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  
  .card-desc {
    font-weight: 300;
    color: hsl(0, 0%, 50%);
    font-size: 13px;
    text-align: center;
  }
  
  .btn-container {
    width: 100%;
  }
  
  .card-btn {
    width: 100%;
    height: 25px;
    background-color: hsla(227, 100%, 70%, 0.799);
    color: hsl(236, 85%, 95%);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .card-btn:hover {
    color: hsla(227, 100%, 70%, 0.799);
    background-color: hsl(236, 85%, 95%);
    transition: 0.5s ease-in-out;
  }
  
  /* ====== END OF PRODUCT LIST ======= */
  /* ====== START OF CART MODAL ======= */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    width: 80%;
    min-height: 50%;
    max-height: 80%;
    max-width: 700px;
    overflow-y: auto;
    background-color: #fff;
    position: relative;
    padding: 5px;
  }
  
  .modal-content h2 {
    text-align: center;
    font-size: 26px;
    margin: 20px auto;
    text-transform: uppercase;
  }
  
  .modal-content span {
    position: absolute;
    top: 2%;
    left: 93%;
  }
  
  .modal-content span:hover {
    cursor: pointer;
  }
  body.modal-open {
    overflow: hidden;
  }
  
  div.item-container {
    position: relative;
    margin-bottom: 5px;
  }
  div.item-container h3 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  
  div.item-container button {
    position: absolute;
    top: 0;
    left: 95%;
  }
  
  #cart-list h4 {
    margin-top: 40px;
  }
  
  #cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  #checkout {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .checkout-message {
    text-align: center;
    text-transform: uppercase;
    background-color: green;
    color: white;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2px;
  }
  
  #item-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
  }
  
  .button-quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .cart-quantity-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    place-items: center;
  }
  
  .cart-title h3 {
    font-size: 15px;
    margin-top: 20px;
  }
  
  .cart-price {
    font-size: 14px;
  }
  
  .plus {
    background-color: green;
    width: 26px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: #fff;
    font-weight: bold;
  }
  .minus {
    background-color: yellowgreen;
    width: 26px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: #fff;
    font-weight: bold;
  }
  
  .remove-cart-item {
    position: absolute;
    top: 0%;
    left: 90%;
  }
  .remove-cart-item button {
    background-color: red;
    width: 20px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: #fff;
    font-weight: bold;
  }
  
  #item-total {
    font-weight: bold;
    text-align: center;
  }
  /* ====== END OF CART MODAL ======= */
  /* =======START OF MEDIA QUERIES ========= */
  
  @media screen and (min-width: 560px) {
    #list {
      grid-template-columns: repeat(3, 1fr);
    }
    .cart-container {
      margin-right: 25px;
    }
    .modal-content span {
      top: 4%;
      left: 95%;
    }
    .fa-magnifying-glass {
      left: 94%;
    }
  }
  
  @media screen and (min-width: 730px) {
    #list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    .card {
      width: 166px;
    }
    .cart-price {
      font-size: 16px;
    }
    .cart-title h3 {
      font-size: 18px;
      margin: 20px auto;
      padding-left: 30px;
    }
    .remove-cart-item {
      top: 28%;
      left: 94%;
    }
    .modal-content h2 {
      font-size: 30px;
    }
    .button-quantity-container {
      width: 50%;
    }
    .select-container {
      justify-content: center;
    }
    .fa-cart-shopping {
      color: hsl(0, 0%, 60%);
      font-size: 20px;
    }
    .cart-number-container {
      left: 93%;
    }
  }
  @media screen and (min-width: 1000px) {
    #list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }
    .card {
      width: 180px;
    }
  }
  /* ========= END OF MEDIA QUERIES =============== */
  /* ======== JAVASCRIPT LATER STYLES ============== */
  
  
  /* hide class  */
  .hide {
    display: none;
  }
  #hide {
    display: none;
  }